<% provide(:title, "The Title") %>
<%provide(:h1,"hello")%>
<html>
<head>
<title><%=yield(:title)%>| Ruby on Rails Tutorial Sample App</title>
<h1><%=yield(:h1)%></h1>
</head>
<body>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
<p>
</body>
</html>
